<ion-header>
  <div class="barra-verde ">
    <p class="titulo">FESTIVAL INTERNACIONAL DE LA IMAGEN</p>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="relativo">

<ion-grid class="ion-no-padding ion-no-margin">

  <ion-row class="primera-columna">
      <ion-img src="http://200.57.52.85/fini2023/assets/artistas-invitados/{{artista.nombre_foto}}" style="width:100%"></ion-img>
  </ion-row>
  
  <ion-row>
    <p class="texto-titulo">{{artista.nombre}}</p>
  </ion-row>

  <ion-row>
    <p class="texto-pih">{{artista.nacionalidad}}</p>
  </ion-row>

  <ion-row>
    <div class="contenedor-texto">
      <p class="texto-contenido">
        {{artista.semblanza}}
      </p>
    </div> 
  </ion-row>

  <ion-row>
    <div class="texto-web">
      <p>Sitio Web: </p>
      <p>{{artista.sitio_web}}</p>
    </div>
  </ion-row>

  <ion-row class="redes-sociales m-b">
    <ion-img src="./assets/images/youtube.png" style="width: 40px; margin: 5px;"></ion-img>
    <ion-img src="./assets/images/instagram.png" style="width: 40px; margin: 5px;"></ion-img>
    <ion-img src="./assets/images/facebook.png" style="width: 40px; margin: 5px;"></ion-img>
  </ion-row>
  
</ion-grid>

<div class="footer"> 
  <div class="barra-naranja">
    <app-falso-footer></app-falso-footer>
  </div>
  <div class="barra-gris"></div>
</div>

</div>

</ion-content>