<ion-header>
  <div class="barra-verde ">
    <p class="titulo">FESTIVAL INTERNACIONAL DE LA IMAGEN</p>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="relativo">

  <ion-grid>
  <ion-row class="primera-columna">
    <ion-img src="./assets/images/logon.png" class="logon"></ion-img>
  </ion-row>

  <ion-row>
    <p class="texto-festival">Festival Internacional de la Imagen</p>
  </ion-row>

  <ion-row>
    <div class="contenedor-texto">
      <p class="texto-contenido">Descripción de la FINI</p>
    </div>
  </ion-row>

  <ion-row class="redes-sociales m-b">
    <ion-img src="./assets/images/youtube.png" style="width: 40px; margin: 5px;"></ion-img>
    <ion-img src="./assets/images/instagram.png" style="width: 40px; margin: 5px;"></ion-img>
    <ion-img src="./assets/images/facebook.png" style="width: 40px; margin: 5px;"></ion-img>
    <p class="texto-web">/finimx</p>
  </ion-row>

</ion-grid>

<div class="footer"> 
  <div class="barra-naranja">
    <app-falso-footer></app-falso-footer>
    <p class="texto-footer">NOSOTROS</p>
  </div>
  <div class="barra-gris"></div>
</div>

</div>

</ion-content>