.barra-verde {
    width: auto;
    height: 30px;
    background-color: #B6CC3B;
    box-shadow: none;
  }
  
  .barra-gris {
    width: auto;
    height: 30px;
    background-color: #575756;
    box-shadow: none;
  }
  
  .texto-columna {
    text-align: center;
  }
  
  .primera-columna {
    margin-top: 25px;
  }
  