<ion-header>
  <div class="barra-verde ">
    <p class="titulo">FESTIVAL INTERNACIONAL DE LA IMAGEN</p>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="relativo">

  <ion-grid>
    <ion-row class="m-extra">
      <ion-col class="columna">
          <ion-img src="./assets/images/20.png" style="height: 100px" (click)="irActividades()"></ion-img>
      </ion-col>

      <ion-col>
          <ion-img src="./assets/images/21.png" style="height: 100px" (click)="irActividades()"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row class="primera-columna">
      <ion-col>
          <ion-img src="./assets/images/22.png" style="height: 100px" (click)="irActividades()"></ion-img>
      </ion-col>

      <ion-col>
          <ion-img src="./assets/images/23.png" style="height: 100px" (click)="irActividades()"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row class="primera-columna">
      <ion-col>
          <ion-img src="./assets/images/24.png" style="height: 100px" (click)="irActividades()"></ion-img>
      </ion-col>

      <ion-col>
        <ion-img src="./assets/images/25.png" style="height: 100px" (click)="irActividades()"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row class="primera-columna">
      <ion-col>
          <ion-img src="./assets/images/26.png" style="height: 100px" (click)="irActividades()"></ion-img>
      </ion-col>

      <ion-col>
          <ion-img src="./assets/images/27.png" style="height: 100px" (click)="irActividades()"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row class="primera-columna m-b">
      <ion-col>
        <ion-img src="./assets/images/28.png" style="height: 100px" (click)="irActividades()"></ion-img>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
</ion-grid>

<div class="footer"> 
  <div class="barra-naranja">
    <app-falso-footer></app-falso-footer>
    <p class="texto-footer">GENERAL</p>
  </div>
  <div class="barra-gris"></div>
</div>

</div>


</ion-content>