  .back {
    height: 30px;
    position: absolute;
    bottom: 10px;
    left: 15%;
    z-index: 10;
  }

  .home {
    height: 30px;
    position: absolute;
    bottom: 10px;
    right: 15%;
    z-index: 10;
  }