  .back {
    height: 40px;
    position: absolute;
    bottom: 25px;
    left: 15%;
    z-index: 10;
  }

  .home {
    height: 40px;
    position: absolute;
    bottom: 25px;
    right: 15%;
    z-index: 10;
  }