<ion-header>
  <div class="barra-verde ">
    <p class="titulo">FESTIVAL INTERNACIONAL DE LA IMAGEN</p>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row class="primera-columna">
      <div class="recuadro-azul-fuerte">
        <p><strong>Nombre Concursante</strong></p>
      </div>
    </ion-row>

    <ion-row >
      <div class="recuadro-azul-claro">
        <p><strong>Nombre Concursante</strong></p>
      </div>
    </ion-row>

</ion-grid>

<app-falso-footer></app-falso-footer>

<div class="footer">
  <div class="barra-gris"></div>
  <p class="texto-footer">FOTOGRAFÍA</p>
  <div class="barra-naranja"></div>
</div>

</ion-content>
