<ion-header>
  <div class="barra-verde"></div>
  <div class="barra-gris"></div>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row>
      <div class="recuadro-azul-fuerte">
        <p><strong>Nombre Concursante</strong></p>
      </div>
    </ion-row>

    <ion-row >
      <div class="recuadro-azul-claro">
        <p><strong>Nombre Concursante</strong></p>
      </div>
    </ion-row>

</ion-grid>

<app-falso-footer></app-falso-footer>
</ion-content>
