<ion-header>
  <div class="barra-verde ">
    <p class="titulo">FESTIVAL INTERNACIONAL DE LA IMAGEN</p>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
  <ion-row class="primera-columna">
    <ion-item class="contenedor">
      <ion-icon slot="start" name="search"></ion-icon>
      <ion-textarea placeholder="Buscar"></ion-textarea>
    </ion-item>
  </ion-row>

</ion-grid>

<app-falso-footer></app-falso-footer>

<div class="footer">
  <div class="barra-gris"></div>
  <p class="texto-footer">BUSCAR</p>
  <div class="barra-naranja"></div>
</div>

</ion-content>