  .barra-verde {
    width: 100%;
    height: 60px;
    background-color: #B6CC3B;
    position: absolute;
    top: 0%;
  }

  .barra-verde .titulo {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
  }
  
  .espacio-logotipo {
    height: 120px;
    width: 120px;
    border: 1px solid black;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
  }
  
  .espacio-logotipo .texto-logotipo {
    text-align: center;
    margin-top: 30%;
  }
  
  .texto-columna {
    text-align: center;
  }
  
  .primera-columna {
    margin-top: 80px;
  }

  .texto-festival {
    color: #B6CC3B;
    text-align: center;
    width: 100%;
    font-weight: bold;
    margin-top: 40px;
    font-size: larger;
  }

  .contenedor-texto {
    width: 100%;
    height: 300px;
    margin: 0 20px 0 20px;
    border: 1px solid black;
  }

  .texto-contenido {
    text-align: center;
    margin-top: 40%;
  }

  .redes-sociales {
    margin-top: 30px;
    margin-left: 10px;
  }

  .texto-web {
    color: #575756;
    padding-left: 10px;
    font-size: xx-large;
  }

  .contenedor {
    margin-top: 20px;
    width: 100%;
  }

  .borde {
    border: 1px solid black;
    
  }

  .dis-inline {
    display: inline;
  }

  .contenedor-flex {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
  }

  .texto-footer {
    color: #ffffff;
    position: relative;
    text-align: center;
    padding-top: 15px;
  }
  
  .barra-gris {
    width: 100%;
    height: 20px;
    background-color: #575756;
    box-shadow: none;
    position: relative;
  }
  
  .barra-naranja  {
    width: 100%;
    height: 50px;
    background-color: #B6CC3B;
    box-shadow: none;
    position: relative;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .relativo {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
  }

  .m-b {
    margin-bottom: 100px;
  }