<ion-header>
  <div class="barra-verde ">
    <p class="titulo">FESTIVAL INTERNACIONAL DE LA IMAGEN</p>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="relativo">

  <ion-grid>
  <ion-row class="primera-columna m-b">
    <ion-item class="contenedor">
      <ion-icon slot="start" name="search"></ion-icon>
      <ion-textarea placeholder="Buscar"></ion-textarea>
    </ion-item>
  </ion-row>

</ion-grid>

<div class="footer"> 
  <div class="barra-naranja">
    <app-falso-footer></app-falso-footer>
    <p class="texto-footer">BUSCAR</p>
  </div>
  <div class="barra-gris"></div>
</div>

</div>

</ion-content>