<ion-header>
  <div class="barra-verde ">
    <p class="titulo">FESTIVAL INTERNACIONAL DE LA IMAGEN</p>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="relativo">

  <ion-grid>
    <ion-row class="primera-columna">
      <ion-col class="columna">
          <ion-img src="./assets/images/General_b.png" class="imagen" (click)="irFechas()"></ion-img>
          <p class="texto-columna">GENERAL</p>
      </ion-col>

      <ion-col>
          <ion-img src="./assets/images/Coloquio.png" class="imagen" (click)="irFechas()"></ion-img>
          <p class="texto-columna">COLOQUIO</p>
      </ion-col>
    </ion-row>

    <ion-row class="m-entref">
      <ion-col>
          <ion-img src="./assets/images/Conferencias.png" class="imagen" (click)="irFechas()"></ion-img>
          <p class="texto-columna">CONFERENCIAS</p>
      </ion-col>

      <ion-col>
          <ion-img src="./assets/images/Exposiciones.png" class="imagen" (click)="irFechas()"></ion-img>
          <p class="texto-columna">EXPOSICIONES</p>
      </ion-col>
    </ion-row>

    <ion-row class="m-entref">
      <ion-col>
          <ion-img src="./assets/images/Talleres.png" class="imagen" (click)="irFechas()"></ion-img>
          <p class="texto-columna">TALLERES</p>
      </ion-col>

      <ion-col>
          <ion-img src="./assets/images/FINIpix_B.png" class="imagen" (click)="irFechas()"></ion-img>
          <p class="texto-columna">FINIKIDS</p>
      </ion-col>
    </ion-row>

    <ion-row class="m-entref" class="m-b">
      <ion-col>
          <ion-img src="./assets/images/Proyecciones.png" class="imagen" (click)="irFechas()"></ion-img>
          <p class="texto-columna">PROYECCIONES</p>
      </ion-col>

      <ion-col>
          <ion-img src="./assets/images/PresentacionesArtisticas.png" class="imagen" (click)="irFechas()"></ion-img>
          <p class="texto-columna">PRESENTACIONES ARTÍSTICAS</p>
      </ion-col>
    </ion-row>
</ion-grid>

<div class="footer"> 
  <div class="barra-naranja">
    <app-falso-footer></app-falso-footer>
    <p class="texto-footer">PROGRAMA</p>
  </div>
  <div class="barra-gris"></div>
</div>

</div>


</ion-content>
