  .barra-verde {
    width: 100%;
    height: 60px;
    background-color: #B6CC3B;
    position: absolute;
    top: 0%;
  }

  .barra-verde .titulo {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
  }

  @media (min-width: 375px) {
    .barra-verde .titulo {
      margin-top: 10px;
    }
  }

  @media (max-width: 376px) {
    .barra-verde .titulo {
      font-size: small;
      padding-top: 5px;
    }
  }

  @media (max-width: 304px) {
    .barra-verde .titulo {
      font-size: xx-small !important;
    }
  }

  @media (max-width: 220px) {
    .barra-verde .titulo {
      font-size: xx-small !important;
      padding-top: 5px;
    }
  }
  
  .espacio-logotipo {
    height: 120px;
    width: 120px;
    border: 1px solid black;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
  }
  
  .espacio-logotipo .texto-logotipo {
    text-align: center;
    margin-top: 30%;
  }
  
  .texto-columna {
    text-align: center;
    font-size: small;
  }
  
  .primera-columna {
    margin-top: 120px;
  }

  .segunda-columna {
    margin-top: 20px;
  }

  .texto-footer {
    color: #ffffff;
    position: relative;
    text-align: center;
    padding-top: 15px;
  }
  
  .barra-gris {
    width: 100%;
    height: 20px;
    background-color: #575756;
    box-shadow: none;
    position: relative;
  }
  
  .barra-naranja  {
    width: 100%;
    height: 50px;
    background-color: #EA2D7C;
    box-shadow: none;
    position: relative;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .relativo {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
  }

  .m-b {
    margin-bottom: 100px;
  }

  .m-entref {
    margin-top: 30px;
  }

  .imagen {
    height: 100px
  }

  @media (max-height: 812px) {
    .imagen {
      height: 70px;
    }
  
    .primera-columna {
      margin-top: 80px;
    }
  
    .m-b {
      margin-bottom: 50px;
    }
  }

  @media (min-height: 724px) {
    .barra-verde .titulo {
      margin-top: 20px;
    }
  }
  
  @media (max-height: 724px) {
    .imagen {
      height: 70px;
    }
  
    .texto-columna {
      font-size: x-small; 
    }
  
    .primera-columna {
      margin-top: 60px;
    }
  
    .m-b {
      margin-bottom: 50px;
    }
  
    .barra-naranja {
      height: 30px;
    }
  
    .home-icon {
      height: 40px;
      padding-bottom: 15px;
    }
  
    .barra-gris {
      height: 10px;
    }
  
    .m-entref {
      margin-top: 10px;
    }
  
    .imagen-logo {
      width: 100%;
      height: 80%;
    }

    .texto-footer {
      padding-top: 5px;
    }

    .barra-verde {
      height: 30px;
    }

    .barra-verde .titulo {
      font-size: small;
    }

    @media (max-width: 384px) {
      .barra-verde .titulo {
        margin-top: 10px;
      }
    }

    @media (max-width: 376px) {
      .barra-verde .titulo {
        margin-top: 5px;
      }
    }

    @media (max-width: 245px) {
      .barra-verde .titulo {
        font-size: xx-small !important;
      }
    }

    @media (max-width: 220px) {
      .barra-verde .titulo {
        margin-top: 5px;
      }
    }

    @media (max-width: 212px) {
      .barra-verde .titulo {
        margin-top: 0;
      }
    }
  
  }

  @media (min-height: 1100px) {

    .imagen {
      height: 150px
    }

  }