<ion-header>
  <div class="barra-verde"></div>
  <div class="barra-gris"></div>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row class="primera-columna">
      <ion-col class="columna">
          <ion-img src="./assets/images/Fotografía_B.png" style="height: 100px"></ion-img>
          <p class="texto-columna">Fotografía</p>
      </ion-col>

      <ion-col>
          <ion-img src="./assets/images/TécnicasAlternativas_A.png" style="height: 100px"></ion-img>
          <p class="texto-columna">Técnicas <br> Alternativas</p>
      </ion-col>
    </ion-row>

    <ion-row class="segunda-columna">
      <ion-col>
          <ion-img src="./assets/images/Video_A.png" style="height: 100px"></ion-img>
          <p class="texto-columna">Video <br> documental</p>
      </ion-col>

      <ion-col>
          <ion-img src="./assets/images/Cartel_B.png" style="height: 100px"></ion-img>
          <p class="texto-columna">Cartel</p>
      </ion-col>
    </ion-row>

</ion-grid>

  <div class="falso-footer">
    <p class="texto-footer">Programa</p>
  </div>

</ion-content>