<ion-header>
  <div class="barra-verde ">
    <p class="titulo">FESTIVAL INTERNACIONAL DE LA IMAGEN</p>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="relativo">

  <ion-grid>
    <ion-row class="primera-columna">
      <ion-col class="columna">
          <ion-img src="./assets/images/Fotografía_B.png" class="imagen" (click)="irConcursante('FOTOGRAFÍA')"></ion-img>
          <p class="texto-columna">FOTOGRAFÍA</p>
      </ion-col>

      <ion-col>
          <ion-img src="./assets/images/TécnicasAlternativas_B.png" class="imagen" (click)="irConcursante('TÉCNICAS ALTERNATIVAS')"></ion-img>
          <p class="texto-columna">TÉCNICAS <br> ALTERNATIVAS</p>
      </ion-col>
    </ion-row>

    <ion-row class="segunda-columna m-b">
      <ion-col>
          <ion-img src="./assets/images/Video_B.png" class="imagen" (click)="irConcursante('VIDEO DOCUMENTAL')"></ion-img>
          <p class="texto-columna">VÍDEO <br>DOCUMENTAL</p>
      </ion-col>

      <ion-col>
          <ion-img src="./assets/images/Cartel_B.png" class="imagen" (click)="irConcursante('CARTEL')"></ion-img>
          <p class="texto-columna">CARTEL</p>
      </ion-col>
    </ion-row>

</ion-grid>

<div class="footer"> 
  <div class="barra-naranja">
    <app-falso-footer></app-falso-footer>
    <p class="texto-footer">{{this.rama}}</p>
  </div>
  <div class="barra-gris"></div>
</div>

</div>

</ion-content>