<ion-header>
  <div class="barra-verde ">
    <p class="titulo">FESTIVAL INTERNACIONAL DE LA IMAGEN</p>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row class="primera-columna">
      <ion-col class="columna">
          <ion-img src="./assets/images/Fotografía_B.png" style="height: 100px" (click)="irConcursante()"></ion-img>
          <p class="texto-columna">FOTOGRAFÍA</p>
      </ion-col>

      <ion-col>
          <ion-img src="./assets/images/TécnicasAlternativas_B.png" style="height: 100px" (click)="irConcursante()"></ion-img>
          <p class="texto-columna">TÉCNICAS <br> ALTERNATIVAS</p>
      </ion-col>
    </ion-row>

    <ion-row class="segunda-columna">
      <ion-col>
          <ion-img src="./assets/images/Video_B.png" style="height: 100px" (click)="irConcursante()"></ion-img>
          <p class="texto-columna">VÍDEO <br>DOCUMENTAL</p>
      </ion-col>

      <ion-col>
          <ion-img src="./assets/images/Cartel_B.png" style="height: 100px" (click)="irConcursante()"></ion-img>
          <p class="texto-columna">CARTEL</p>
      </ion-col>
    </ion-row>

</ion-grid>

<app-falso-footer></app-falso-footer>

<div class="footer">
  <div class="barra-gris"></div>
  <p class="texto-footer">ESTUDIANTE</p>
  <div class="barra-naranja"></div>
</div>

</ion-content>