<ion-header>
  <div class="barra-verde ">
    <p class="titulo">FESTIVAL INTERNACIONAL DE LA IMAGEN</p>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="relativo">

  <ion-grid class="ion-no-padding ion-no-margin">
    
    <ion-row class="primera-columna">
      <ion-col>
        <ion-img src="./assets/images/Dispositivos.png" style="height: 100px" (click)="irConcursantes()"></ion-img>
        <p class="texto-columna">FOTOGRAFÍA CON <br>DISPOSITIVOS MÓVILES</p>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

  </ion-grid>

  <div class="footer"> 
    <div class="barra-naranja">
      <app-falso-footer></app-falso-footer>
      <p class="texto-footer">FINIPIX</p>
    </div>
    <div class="barra-gris"></div>
  </div>

</div>

</ion-content>