<ion-header>
  <div class="barra-verde ">
    <p class="titulo">FESTIVAL INTERNACIONAL DE LA IMAGEN</p>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row class="primera-columna">
      <ion-col class="columna">
          <ion-img src="./assets/images/Profesional_b.png" style="height: 120px"></ion-img>
          <p class="texto-columna">PROFESIONAL</p>
      </ion-col>

      <ion-col>
          <ion-img src="./assets/images/Estudiante_b.png" style="height: 120px"></ion-img>
          <p class="texto-columna">ESTUDIANTE</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-img src="./assets/images/FINIkids.png" style="height: 120px"></ion-img>
        <p class="texto-columna">FINIPIX</p>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

</ion-grid>

<app-falso-footer></app-falso-footer>

<div class="footer">
  <div class="barra-gris"></div>
  <p class="texto-footer">CONCURSO</p>
  <div class="barra-naranja"></div>
</div>

</ion-content>