.barra-verde {
    width: auto;
    height: 30px;
    background-color: #B6CC3B;
    box-shadow: none;
  }
  
  .barra-gris {
    width: auto;
    height: 30px;
    background-color: #575756;
    box-shadow: none;
  }
  
  .espacio-logotipo {
    height: 120px;
    width: 120px;
    border: 1px solid black;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
  }
  
  .espacio-logotipo .texto-logotipo {
    text-align: center;
    margin-top: 30%;
  }
  
  .texto-columna {
    text-align: center;
  }
  
  .primera-columna {
    margin-top: 200px;
  }