<ion-header>
  <div class="barra-verde ">
    <p class="titulo">FESTIVAL INTERNACIONAL DE LA IMAGEN</p>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="relativo">

  <ion-grid>
    <ion-row class="primera-columna">
      <ion-col class="columna">
          <ion-img src="./assets/images/Profesional_b.png" class="imagen" (click)="irTecnicas()"></ion-img>
          <p class="texto-columna">PROFESIONAL</p>
      </ion-col>

      <ion-col>
          <ion-img src="./assets/images/Estudiante_b.png" class="imagen" (click)="irTecnicas()"></ion-img>
          <p class="texto-columna">ESTUDIANTE</p>
      </ion-col>
    </ion-row>

    <ion-row class="m-entrefm-b">
      <ion-col>
        <ion-img src="./assets/images/FINIkids.png" class="imagen" (click)="irFinipix()"></ion-img>
        <p class="texto-columna">FINIPIX</p>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

</ion-grid>

<div class="footer"> 
  <div class="barra-naranja">
    <app-falso-footer></app-falso-footer>
    <p class="texto-footer">PROGRAMA</p>
  </div>
  <div class="barra-gris"></div>
</div>

</div>

</ion-content>