<ion-header>
  <div class="barra-verde ">
    <p class="titulo">FESTIVAL INTERNACIONAL DE LA IMAGEN</p>
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="prueba" >

  <div class="relativo">

  <!-- <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row class="primera-columna">
      <div class="recuadro-azul-fuerte">
        <p><strong>Título Actividad</strong></p>
        <p>Día de la actividad</p>
        <p><strong>Hora de la actividad</strong></p>
        <p>Link para la transmisión</p>
      </div>
    </ion-row>

    <ion-row >
      <div class="recuadro-azul-claro">
        <p><strong>Título Actividad</strong></p>
        <p>Día de la actividad</p>
        <p><strong>Hora de la actividad</strong></p>
        <p>Link para la transmisión</p>
      </div>
    </ion-row>
  </ion-grid> -->

<div class="primera_columna">
  <div *ngFor="let programa of programas; let impar = odd; let par = even; let last = last;" [ngClass]="{azul_fuerte:par, azul_claro:impar, mb:last}">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-no-margin ion-no-padding">
            <p class="filas primer_titulo "><strong>{{programa.nombre_evento}}</strong></p>
            <p class="filas">{{programa.fecha}}</p>
            <p class="filas"><strong>{{programa.hora}}</strong></p>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</div>

  

<div class="footer"> 
  <div class="barra-naranja">
    <app-falso-footer></app-falso-footer>
    <p class="texto-footer">GENERAL</p>
  </div>
  <div class="barra-gris"></div>
</div>

</div>

</ion-content>