<ion-header>
  <div class="barra-verde ">
    <p class="titulo">FESTIVAL INTERNACIONAL DE LA IMAGEN</p>
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="prueba" >

  <div class="relativo">

  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row class="primera-columna">
      <div class="recuadro-azul-fuerte">
        <p><strong>Título Actividad</strong></p>
        <p>Día de la actividad</p>
        <p><strong>Hora de la actividad</strong></p>
        <p>Link para la transmisión</p>
      </div>
    </ion-row>

    <ion-row >
      <div class="recuadro-azul-claro">
        <p><strong>Título Actividad</strong></p>
        <p>Día de la actividad</p>
        <p><strong>Hora de la actividad</strong></p>
        <p>Link para la transmisión</p>
      </div>
    </ion-row>
   
</ion-grid>

<div class="footer"> 
  <div class="barra-naranja">
    <app-falso-footer></app-falso-footer>
    <p class="texto-footer">GENERAL</p>
  </div>
  <div class="barra-gris"></div>
</div>

</div>

</ion-content>