<ion-header>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="relativo">
  <ion-grid class="ion-no-margin ion-no-padding">
  <ion-row>
    <ion-img src="./assets/images/cabezal.png"></ion-img>
  </ion-row>

  

  <ion-row class="primera-columna">
    <ion-col class="columna">
        <ion-img src="./assets/images/Programa_b.png" style="height: 100px" (click)="irPrograma()"></ion-img>
        <p class="texto-columna">PROGRAMA</p>
    </ion-col>

    <ion-col>
        <ion-img src="./assets/images/Concurso_b.png" style="height: 100px" (click)="irConcurso()"></ion-img>
        <p class="texto-columna">CONCURSO</p>
    </ion-col>
  </ion-row>

  <ion-row class="m-entref">
    <ion-col>
        <ion-img src="./assets/images/paisInvitado.png" style="height: 100px" (click)="irPaisInvitado()"></ion-img>
        <p class="texto-columna">PAÍS INVITADO <br>DE HONOR</p>
    </ion-col>

    <ion-col>
        <ion-img src="./assets/images/artistasInvitados.png" style="height: 100px" (click)="irArtistasInvitados()"></ion-img>
        <p class="texto-columna">ARTÍSTAS <br>INVITADOS</p>
    </ion-col>
  </ion-row>

  <ion-row class="m-entref m-b">
    <ion-col>
        <ion-img src="./assets/images/Nosotros.png" style="height: 100px" (click)="irNosotros()"></ion-img>
        <p class="texto-columna">NOSOTROS</p>
    </ion-col>

    <ion-col>
        <ion-img src="./assets/images/Buscar.png" style="height: 100px" (click)="irBuscar()"></ion-img>
        <p class="texto-columna">BUSCAR</p>
    </ion-col>
  </ion-row>
</ion-grid>

<div class="footer"> 
  <div class="barra-naranja">
    <ion-img src="./assets/images/home.png" style="height: 40px; padding-top: 10px;"></ion-img>
  </div>
  <div class="barra-gris"></div>
</div>

</div>

</ion-content>
