<ion-header>
  <div class="barra-verde"></div>
  <div class="barra-gris"></div>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
  <ion-row>
    <div class="espacio-logotipo">
      <p class="texto-logotipo">Espacio para el logotipo</p>
    </div>
  </ion-row>

  <ion-row class="primera-columna">
    <ion-col class="columna">
        <ion-img src="./assets/images/Programa_b.png" style="height: 100px" (click)="irPrograma()"></ion-img>
        <p class="texto-columna">Programa</p>
    </ion-col>

    <ion-col>
        <ion-img src="./assets/images/Concurso_b.png" style="height: 100px" (click)="irConcurso()"></ion-img>
        <p class="texto-columna">Concurso</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
        <ion-img src="./assets/images/paisInvitado.png" style="height: 100px" (click)="irPaisInvitado()"></ion-img>
        <p class="texto-columna">País Invitado</p>
    </ion-col>

    <ion-col>
        <ion-img src="./assets/images/artistasInvitados.png" style="height: 100px" (click)="irArtistasInvitados()"></ion-img>
        <p class="texto-columna">Artistas Invitados</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
        <ion-img src="./assets/images/Nosotros.png" style="height: 100px" (click)="irNosotros()"></ion-img>
        <p class="texto-columna">Nosotros</p>
    </ion-col>

    <ion-col>
        <ion-img src="./assets/images/Buscar.png" style="height: 100px" (click)="irBuscar()"></ion-img>
        <p class="texto-columna">Buscar</p>
    </ion-col>
  </ion-row>
</ion-grid>

<app-falso-footer></app-falso-footer>

  <div class="falso-footer">
    <p class="texto-footer">Menú <br> Principal</p>
  </div>

</ion-content>
